* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main-content {
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    gap: 2rem;
}

.product-card {
    /* margin-top: 2rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px #adb0b1 solid;
    height: 35rem;
    width: 25rem;
    background-color: white;
    gap: 5px;
    padding: 10px;
}


.product-card img {
    height: 18.75rem;
    width: 18.75rem;
    /* border: rgb(60, 0, 255) 1px solid; */
    margin-top: 10px;
}

.product-card h1 {
    margin-top: 5px;
    font-weight: 200;
    font-size: 1.8rem;
}

.product-card h3 {
    font-weight: 500;
    font-size: 1.2rem;
}

.product-card p {
    font-weight: 200;
    font-size: 1rem;
    text-align: center;
}

.product-card button {
    border: 1px black solid;
    background-color: white;
    height: 2.5rem;
    width: 6.5rem;
    margin: 7px;
    border-radius: 20px;
    letter-spacing: 1px;
    font-size: 1rem;
    text-transform: uppercase;
}

.product-card button:hover {
    cursor: pointer;
    border-color: #adb0b1;
    transition: .5s;
}

