@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.header-div {
    background-color: #bebebe;
    height: 7rem;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 2rem;  
}

.store-name {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 2.3rem;
}

.store-name span {
    font-weight: 600;
}

.store-name p {
    font-weight: 300;
}

.header-button-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-buttons button {
    border: none;
    background-color: #bebebe;
    height: 2.5rem;
    width: 6.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.header-buttons button:hover {
    cursor: pointer;
    color: #bebebe;
    transition: .5s;
}

.cart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
}

.cart-button:hover {
    cursor: pointer;
    border-color: #bebebe;
    transition: .5s;
}

.cart-number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    height: 22px;
    width: 22px;
    color: white;
    background-color: #77c8e3;
    border-radius: 50%;
    margin: -10px;
    margin-bottom: 13px;
}