.input-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
    height: 22rem;
    width: 30rem;
}

.input-div h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    margin-bottom: 2rem;
    border-bottom: 1px #77c8e3 solid;
}

.input-div input {
    border: none;
    border-bottom: 1px #77c8e3 solid;
    width: 20rem;
    margin: 15px;
}

.input-div input::placeholder {
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    font-size: 16px;
}

.input-div button {
    border: 1px black solid;
    background-color: white;
    height: 2.5rem;
    width: 6.5rem;
    margin-top: 20px;
    border-radius: 20px;
    letter-spacing: 1px;
    font-size: 1rem;
    text-transform: uppercase;
}

.input-div button:hover {
    cursor: pointer;
    border-color: #adb0b1;
    transition: .5s;
}